@import url("output-formatting.css");
@import url("overlay.css");

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    font-size: 14px;
    vertical-align: baseline;
}

#draw-space-container {
    flex: 4;
    overflow: hidden;
}

#draw-space {
    position: absolute;
    z-index: 1;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.grid_box {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

.grid_box:hover {
    opacity: 0.4;
}

.grid_box_hidden {
    position: absolute;
    height: 40px;
    width: 40px;
}
