@import url("output-formatting.css");

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    vertical-align: baseline;
}

.grid_box {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

.grid_box_hidden {
    position: absolute;
    height: 40px;
    width: 40px;
}
