#output-container {
    padding: 10px 0;
    width: 100%;
    min-height: 150px;
    flex: 1;
    background-color: white;
    border-top: 1px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
}

.output-line {
    padding-left: 40px;
    display: block;
    font-family: "Arial";
}

.error {
    color: red;
}

.warning {
    color: darkred;
}
